:root{
  --blue: #287bff;
  --blue1: #287aff4e;
  --blue2: #287affbe;
  --blue3: #120cce;
  /* --blue3: #120cce60; */
  --white: #fff;
  --grey: #f5f5f5;
  --black1: #222;
  --black2: #999;
  --black3: #dfdfdf;
  --red: #800000;
  /* --red: #d07979a7; */
  --green: #008011;
  /* --green: #38cc4c73; */
  
  --violet: #7a0080;
  --violet1: #a35ea6c4;
  --yellow: #c8db1f;
  

}

/*Custom Fonts*/
@font-face {
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Book.ttf');
  font-weight: 400;
}

/*Default CSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #ffffff !important;
  color: rgb(0, 0, 0) !important;
  font-family: 'Centra', sans-serif !important;
}

section {
  display: block;
}

/************ Navbar Css ************/
nav.navbar {
  /* padding: 3px 0;
  position: sticky;
  width: 100%;
  top: 0;
  padding: 10px 0 10px 0;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2); */
  width: 100%;
  margin: auto;
  display: flex;
  position: sticky;
  position: -webkit-sticky; 
  top: 0;
  background: #FFFFFF;
  z-index: 1;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}
nav.navbar.scrolled {
  padding: 10px 0 10px 0;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  justify-content: center;
  font-weight: bold;
  letter-spacing: 0.8px;
  opacity: 0.75;
  margin-left: 8px;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover{
    opacity: 1;
    color: #120cce;

}
nav.navbar .navbar-nav a.nav-link.navbar-link.active{
  border-bottom: 3px solid #ffffff;
}

nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  opacity: 1;
  color: #120cce;
  
}

@media screen and (max-width: 991px){
  nav.navbar .navbar-nav .nav-link.navbar-link {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
